# GV
*.dot
*.ps

#cmake
cmake-build-debug

### C++ ###

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Libraries
*.lib
*.a
*.la
*.lo

#TeX
*.tks
*.aux
*.log
*.synctex.gz
*.toc
*.pdf

